header {
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(235, 215, 227);
    height: 200px;
    padding: 10px;
    margin: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.octopus {
    opacity: 0.2;
    align-items: left;
    border-radius: 4rem;
    width: 150px;
}

.octopus:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    opacity: 0.4;
}

.tarolo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

body {
    background-color: rgb(230, 220, 226);
}
 .contact {
     justify-self: center;
    justify-items: start;
     margin: 20px;
 }

 .tanulmanyok {
    justify-self: center;
    justify-items: start;
     margin: 20px;
 }

.photo-me {
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    max-width: 250px;
    max-height: 250px;
}

footer {
    background-color: beige;
    text-align: center;
    margin: 20px;
    pad: 10px;
}


