* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

header {
    background-color: rgb(174, 230, 211);
    background-size: 400px;

}

h1 {
    color: rgb(14, 11, 11);
    text-align: center;
    text-justify: auto;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.octopus {
    
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #d5f1e8;
}

a:hover {
    color: rgb(121, 122, 35);
}

main nav div {
    display: flex;
    flex-wrap: wrap;
}
