* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

header {
    background-color: white;
}

.octopus {
    opacity: 0.2;
    width: 100px;
    height: 80px;
}

h1 {
    color: rgb(14, 11, 11);
    text-align: center;
    text-justify: auto;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:hover {
    color: rgb(121, 122, 35);
}

main nav div {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    text-align: center;
}
