header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(235, 215, 227);
    height: 100px;
    padding: 10px;
    margin: 10px;
}
.tarolo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

body {
    background-color: rgb(230, 220, 226);
}
 .contact {
     justify-self: center;
    justify-items: start;
     margin: 20px;
 }

 .tanulmanyok {
    justify-self: center;
    justify-items: start;
     margin: 20px;
 }

.photo-me {
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    max-width: 250px;
    max-height: 250px;
}

footer {
    background-color: beige;
    text-align: center;
    margin: 20px;
    pad: 10px;
}


