/* Reset */
html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --backgound-primary: whitesmoke;
}

* {
    margin : 0;
    padding: 0;
    font-size: 20px;
    box-sizing: inherit;
}

body {
    background-color: var(--backgound-primary);
}
/* Komponensek */ 

header {
    background-color: rgb(181, 233, 233);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
}

.header-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    text-decoration: none;
    color: rgb(16, 43, 43);
}

.octopus {
    opacity: 0.2;
    align-items: center;
    border-radius: 4rem;
    
}

.octopus:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    opacity: 0.4;
}

.header-li__link {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(16, 43, 43);
    margin-left: 2rem;
}

.header-li__link:hover, .header-li__link:active {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: black;
}

/* Media query */