/* Reset */
html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --backgound-primary: whitesmoke;
}

* {
    margin : 0;
    padding: 0;
    font-size: 20px;
    box-sizing: inherit;
}

body {
    background-color: var(--backgound-primary);
}
/* Header stílus */ 

.header-container {
    background-color: rgb(205, 228, 228);
    display: flex;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 1.5rem;
}

.header-h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
}

h1 {
    font-size: 3.0rem;
    color: black;
}

a {
    text-decoration: none;
}

.octopus {
    opacity: 0.2;
    align-items: center;
    border-radius: 4rem;
    margin: 20px;
    
}

.octopus:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    opacity: 0.4;
}

.header-li__link {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(16, 43, 43);
    margin-left: 2rem;
}

.header-li__link:hover, .header-li__link:active {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: black;
}

/* main stílusok */
h2 {
    text-align: center;
    font-size: 3rem;
    margin: 80px;
}

.carousel {
    height: 500px;
    
}

.carousel-kep {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.frontend-kep {
    background-image: url(/Images/frontend.logo.jfif);
}

.backend-kep {
    background-image: url(/Images/backend.jpg);
}

.carousel-title {
    color: rgb(56, 22, 22);
    font-size: 2.2rem;
    padding-top: 18rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.title-2 {
    color:rgb(151, 108, 108);
    padding-top: 1rem;
}

.it-kep {
    background-image: url(/Images/it.jfif);
}

.szolgaltatas {
    margin-top: 1000px;
}

.frontend {
    display: flex;
    margin: 3rem;
    align-items: center;
}

.front-card {
    margin: 2rem;
}

.contact {
    display: flex;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

footer {
    border-top: 0.2rem black solid;
    padding-top: 1rem;
}

.footer-links {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-link{
    margin: 2rem;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.footer-social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    margin: 1rem;
    background-position: center center;
}

.facebook-icon {
    background-image: url(/Images/facebook-brands.svg) ;
}

.instagram-icon {
    background-image: url(/Images/instagram-brands.svg);
}

.footer__copy {
    display: block;
    margin: 1rem;
    text-align: center;
}




/* Media query */