* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 1rem;
}

html {
    font-size: 14px;
}

body {
    color: #e5e5e5;
    background-color: #141414;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 200px;
}

.octopus-logo {
    width: 7rem;
    height: 7rem;
    margin: 0 3rem;
    border-radius: 100px;
    opacity: 0.3;
}

.main-video {
    width: 100%;
}
/* link css */
nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1.25rem .5rem;
    white-space: nowrap;
    transition: color 0.5s;
}

ul li:first-child a {
    color: white;
    font-weight: bold;
    cursor: default;
}

nav ul li:not(:first-child) a:hover {
    color: rgb(185, 185, 185);
}

nav ul {
    display: flex;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, 0));
    width: 100%;
    transition: background-color .5s;
}
nav .menu {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

nav:hover {
    background-color: #141414;
}

nav .browse {
    display: flex;
}

nav .browse img {
    display: none;
}

header {
    position: relative;
}

header .buttons {
    position: absolute;
    top: 8rem;
    margin: 2rem;
    width: 60vw;
    font-size: 1.3rem;
}

header .buttons button {
    padding: .5rem 2rem;
    margin: 1rem .5rem 0 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .3rem;
    border-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: opacity .5s;
    white-space: nowrap;
}

header .playinfo {
    display: flex;
}

button img {
    display: block;
    width: 3rem;
}

button:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.3);
}

button:hover {
    opacity: 0.8;
}

button:active {
    outline: 5px double white;
}

main {
    position: relative;
    top: -10rem;
    margin-left: 2rem;
}

main .row {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

main h2 {
    margin: 0 1rem;
}

main .films {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    align-items: center;
}

main .films::-webkit-scrollbar {
    display: none;
}

main .films img {
    max-width: 20vw;
    margin-right: 0.75rem;
    border-radius: .3rem;
    transition: transform 0.3s;
}

main .first-row .films img {
    max-width: 30vw;
}

main .films img:hover  {
    transform: scale(1.03);
}

footer {
    color: grey;
    display: flex;
    justify-content: center;
}

footer .col, footer p {
    margin: 1rem;
}
